{% extends "base.html" %}

{% block content %}
{% if model.type==0 %}

<h1>Профессия</h1>
{% else %}
<h1>Курс</h1>
{% endif %}

<h1>{{model.name}}</h1>
<div class="descr" height=100% size="20">{{model.long_descr}}</div>
{% for tag in model.list_tags %}	
	<div> {{tag.name}} - {{tag.avg_value}} <!--diff_count--></div>
{% endfor %}

{% if model.type==0 %}
<form action="/roadmap" method="post" name="check">
	<button type="submit" name="button" value="{{model.id}}">Искать по этим тэгам</button>
</form>
{% endif %}

{% endblock %}