html {
  height: 100%;
  background: #f8f9fa;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #f8f9fa;
}

.menu__list {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #f8f9fa;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 1920px;
/*height: 80px;*/
}


.menu {
  background: #f8f9fa;
  padding: 0px;
  color: #32313a;
  position: sticky;
  position: -webkit-sticky;
  /*position: -moz-sticky;*/
  top: 0;

}

.header{
    background: #f46e46;
    text-align: center;
    width: 1920px;
    height: 560px;
    background: linear-gradient(to bottom, #f46137, #f49146);
}

.menu__list-link{
    font-family: Roboto;
    color:  #32313a;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    text-align: left;
    line-height: 103px
}

.popular_napr{
    font-family: Roboto;
    color:  #32313a;
    font-size: 30px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    }

.search{
    font-style: italic;
    width: 100%;
    margin-bottom: 200px;
}
.content {
    background: #f8f9fa;
    height: 100%;
    font-family: Roboto;
    color:  #32313a;
    fborder-radius: 4px;
    background-color:  #ffffff;
    box-shadow: 1px 2px 0.99px 0.01px rgba(132, 126, 126, 0.25);
    width: 1230px;
    height: 1340px;
    margin-bottom: auto;
    margin-right: 250px;
    margin-left: 250px;
    margin-top: 120px;
    flex-direction: column;
}


form {
  position: relative;
  width: 300px;
  margin: auto;
}
input {
    border-radius: 6px;
    background-color:  #f8f9fa;
    width: 970px;
    height: 70px;
    font-family: Roboto;
	color:  #32313a;
	font-size: 30px;/* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	text-align: left;
}
button {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    background-color:  #05b281;
    width: 170px;
    height: 75px;
    font-family: Roboto;
    color:  #ffffff;
    font-size: 30px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
}

.text {
    font-family: Roboto;
    color:  #f8f9fa;
    font-size: 60px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    padding: 40px;
}

.small-text {
    font-family: Roboto;
    color:  #f8f9fa;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    margin-top: 100px;

    /* Встроенный стиль */
    font-family: Roboto;
    color:  #f8f9fa;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: center;

}

.hard{
    padding: 15px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 60px;
    background-color:  #f46137;
    width: 400px;
    height: 26px;
    border-radius: 1500px; /* Радиус скругления */
    border: 3px solid green; /* Параметры рамки */
    box-shadow: 0 0 50px #666;
    font-family: Roboto;
    color:  #ffffff;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
}

.element{
    border-radius: 4px;
    background-color:  #ffffff;
    box-shadow: 1px 2px 0.99px 0.01px rgba(132, 126, 126, 0.25);
    width: 1230px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.tag{
    word-break: break-all;
    font-family: Roboto;
    color:  #32313a;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    margin-bottom: 2px;
    margin-right: 10px;
    margin-left: 0px;
    margin-top: 2px;
}

.descr{
    font-family: Roboto;
    color:  #32313a;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
    word-break: break-all;
    width: 50%;
    margin-left: 90px;
    flex-grow: 1;
    text-align: center;
    margin-bottom: auto;
    margin-right: 10px;
    margin-left: 0px;
    margin-top: 20px;
    padding: 40px;
}

.vyz{
    font-family: Roboto;
    color:  #32313a;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin-left: 90px;
    flex-grow: 1;
    margin-bottom: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    padding: 40px;
}

.hat{
    font-family: Roboto;
    color:  #32313a;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    flex-grow: 1;
    padding: 40px;
    margin-bottom: auto;
    margin-right: 10px;
    margin-left: 50px;
    margin-top: 20px;
}

.footer {
    background-color: dimgrey;
    text-align: center;
    color: floralwhite;
    font-size: 20px;
    padding: 40px;
    box-sizing: border-box;
}